* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
    flex-wrap: wrap;
}

.header img {
    border-radius: 50%;
    max-width: 80px;
    height: auto;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.body1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 300px; */
    padding: 40px 20px;
}

.body1-1 {
    /* display: flex; */
    max-width: 500px;
    padding: 20px;
    flex-direction: column;
    width: 400px;
    color: #E5E7EB;
    /* padding-top: 80px; */
    /* gap: 20px; */
    text-align: left;
}

.body1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

.body1-1 p {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 20px;
}

.insta {
    max-width: 400px;
    padding: 20px;
}

.insta img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
}

.body2 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
}

.info1 {
padding: 20px;
font-size: 36px;
color: #1F2937;
font-weight: 900;
text-align: center;
}

.info-img img {
max-width: 100%;
display: block;
width: 300px;
max-height: 100%;
height: 300px;
}

.imgages2 {
display: flex;
justify-content: center;
gap: 20px;
padding: 20px;
flex-wrap: wrap;
}

.info-img {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
text-align: center;
font-size: 18px;
color: #1F2937;
border: 3px solid black;
padding: 20px;
border-radius: 12px;
}

.review {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 50px;
    font-size: 36px;
}

.quote {
    max-width: 70%;
    text-align: center;
    font-weight: 300; /* Light font weight */
    font-style: italic;
    color: #1F2937;
}

.name {
    align-self: flex-end;
    padding-right: 0;
    margin-top: 10px;
    font-size: 20px;
}

.cta {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    height: 150px;
}

.cta-text {
    padding: 20px;
    flex: 1;
    text-align: left;
    flex-grow: 2;
    padding-left: 10%;
    color: white;
}

.b2 {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
}

.b2 button {
    border: 2px solid white;
}

.footer {
    background-color:#1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}